.table {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20 rgba(0, 0, 0, 0.15);
  width: 100%;

  thead tr {
    background-color: #d8d8d8;
    text-align: left;
    font-weight: bold;
    min-width: 400px;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid #d8d8d8;
  }
}
